<%- include("../../partials/header"); %>
<%- include("../../partials/navbar"); %>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Novo artigo</h1>
        </div>
        <div class="card-body">
            <form action="/articles/save" method="POST">
                <input class="form-control" type="text" placeholder="Defina o título do artigo" name="title">
                <br>
                <textarea class="form-control" placeholder="Escreva o texto do artigo aqui!" id="article" name="body"></textarea>
                <br>
                <label>Categorias</label>
                <select name="category" class="form-control">
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-dark">Criar artigo</button>
            </form>
        </div>
    </div>
</div>
<%- include("../../partials/footer"); %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        promotion: false,
        plugins: 'autolink link lists advlist image print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    });
</script>