<%- include("partials/header.ejs"); %>
<%- include("partials/homePageNavbar.ejs"); %>
<body>
    <br>
    <div class="container align-items-center">
        <h1 style="text-align: center">Bem-Vindo</h1>
    </div>
    <br>
    <div class="container">
        <% articles.forEach(article=>{ %>
            <div class="card">
                <div class="card-header">
                    <h3><%=article.title%></h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-success" href="/<%= article.slug %>">Ver artigo</a>
                </div>
            </div>
            <br>
        <% }); %>
        <div class="row">
            <div class="column">
                <a style="float:right" href="/articles/page/2">Next >>></a>
            </div>
        </div>
        <hr>
    </div>
</body>
<%- include("partials/footer.ejs"); %>