<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Usuários</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <th>Id</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.e_mail %></td>
                            <td>
                                <form action="edit/" method="post">
                                    <input type="hidden" name="id" value="<%= user.id %>"></input>
                                    <button class="btn btn-warning">editar</button>
                                </form>
                                <form action="delete/" method="post" onsubmit="deleteConfirmation(event, this)">
                                    <input type="hidden" name="id" value="<%= user.id %>"></input>
                                    <button class="btn btn-danger">deletar</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/js/myJsFiles/formFunctions.js"></script>

<%- include("../../partials/footer.ejs") %>